{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-4 p-md-5 mb-4 bg-body-tertiary border rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-6 mb-2">{{ 'home.title'|trans }}</h1>
            <p class="lead mb-0">
                {{ 'home.tagline'|trans }}
            </p>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ 'home.battle_reports_title'|trans }}</h2>
                    <p class="card-text">{{ 'home.battle_reports_text'|trans }}</p>
                    <a class="btn btn-primary disabled" href="#" aria-disabled="true">{{ 'home.coming_soon'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ 'home.gallery_title'|trans }}</h2>
                    <p class="card-text">{{ 'home.gallery_text'|trans }}</p>
                    <a class="btn btn-primary disabled" href="#" aria-disabled="true">{{ 'home.coming_soon'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

