{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.register_title'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-6">
            <h1 class="h3 mb-3">{{ 'auth.register_title'|trans }}</h1>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {{ form_start(registrationForm, { attr: { class: 'vstack gap-3' } }) }}
                {{ form_row(registrationForm.displayName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}

                <button type="submit" class="btn btn-primary w-100">{{ 'auth.register_button'|trans }}</button>

                <div class="text-center">
                    <a href="{{ path('app_login') }}">{{ 'auth.have_account'|trans }}</a>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

